.right{
    width:50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.left{
    width:50%;
}

.container {
    text-align: center;
    display:flex;
    width: 100%;
    height: 100%;
  }

  canvas{
    margin: 2rem auto;
    padding: 1rem;
    margin: 2rem;
    background-color: #FAF9F6;
    justify-items: center;
    border-radius: 15px;

  }
  .chartConatiner{
    text-align: center;
    margin: 2rem;
  }

  .bottomDivs {
    display: flex;
  }

  .Bottom canvas{
    background-color: #FAF9F6;
  }
  
  .Bottom h1{
    position:inherit;
    text-align: center;
    color: #FAF9F6;
  }

  .PercentageChart {
    width: 52.5%;
  }
  .dataView{
    width: 52.5%;
    text-align: center;
  }
  .leftBot{
    width:50%;
    display:flex;
  }
  .terminal{
    width:50%;
    text-align: center;

  }
  

  
  